# API
NEXT_PUBLIC_API_URL=https://rfil-api.sudeepdhakal.workers.dev

# Cloudflare (for deployment)
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_R2_BUCKET_MEDIA=
CLOUDFLARE_R2_BUCKET_DOCUMENTS=

# API Environment (for wrangler)
JWT_SECRET=change-this-to-a-random-secret
SITE_URL=https://rfil-api.sudeepdhakal.workers.dev
ADMIN_EMAIL=admin@rfil.com
FROM_EMAIL=noreply@rfil.com
